.fb{
    width: 100%;
    height: 6.4rem;
    margin: 0 auto;
    background: url("../img/product_banner_m.png") no-repeat center center / 100% 100%;
}
.fb-wrap{
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    padding-left: 1.33rem;
    box-sizing: border-box;
}
.fb-tit{
    font-size: 1.07rem;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 1.49rem;
    letter-spacing: 1px;
}

.crumb{
    /*position: sticky;*/
    background: #fff;
    top: 0;
}
.crumb-s{
    position: relative;
}
.crumb-select{
    height: 1.76rem;
    line-height: 1.76rem;
    font-size: 0.48rem;
    border: solid 1px #ccc;
    padding: 0 1.23rem;
    border-left-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.crumb-select:after{
    content: '';
    display: block;
    width: .64rem;
    height: .64rem;
    margin-left: .13rem;
    background: url("../img/p_down.png") no-repeat center center / 100% 100%;
    transition: all .5s ease;
}
.crumb-select.sel:after{
    transform: rotate(180deg);
}
.crumb-list{
    background: #fff;
    position: absolute;
    z-index: 2;
    top: 1.76rem;
    min-width: 100%;
    border: solid 1px #ccc;
    border-top-width: 0;
}
.crumb-sli{
    height: 1.76rem;
    line-height: 1.76rem;
    padding: 0 1.23rem;
    font-size: .48rem;
    text-align: center;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
}
.crumb-sli:hover{
    background-color: #eee;
    color: #097BC4;
}


.v-list{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 .27rem;
}
.vli{
    width: 100%;
    border: solid 1px #ccc;
    margin-bottom: 42px;
}
.v-wrap{
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
.vli-tit{
    font-size: 0.53rem;
    color: #097BC4;
    line-height: 0.75rem;
    text-align: center;
    padding: .69rem 1rem .72rem;
}
.vli-stit th{
    text-align: center;
    background: rgba(96, 131, 152, 0.15);
    font-size: 0.43rem;;
    line-height: 0.53rem;
    font-style: normal;
    font-weight: 400;
    padding: .32rem;
    color: #097BC4;
}
.v-table{
    min-width: 100%;
    user-select: none;
}
.v-thead{
    font-size: 0.43rem;
    height: 64px;
    background: linear-gradient(180deg, #5077FF 0%, #1A84C8 100%);
    font-weight: 400;
    color: #FFFFFF;
}
.v-thead .v-td{
    height: 1.71rem;
    min-width: 2rem;
    line-height: 0.53rem;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
    box-sizing: border-box;
    padding: 0 .2rem;
}
.v-table .v-tbody:hover{
    background: rgba(47, 61, 72, 0.2);
}
.v-table sub{
    vertical-align: sub;
    font-size: smaller;
}
.v-table sup{
    vertical-align: super;
    font-size: smaller;
}
.v-tbody td{
    font-size: 0.43rem;
    color: #666666;
    line-height: 0.53rem;
    text-align: center;
    box-sizing: border-box;
    padding: .59rem .2rem;
    vertical-align: middle;
}
.v-tbody:nth-child(odd){
    background: rgba(203,203,203,0.33);
}

::-webkit-scrollbar {}
::-webkit-scrollbar-button {}
::-webkit-scrollbar-track  {}
::-webkit-scrollbar-track-piece  {}
::-webkit-scrollbar-thumb {
    background: #097BC4;
}
::-webkit-scrollbar-corner {}
::-webkit-resizer {}



.main{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 .53rem;
}
.sr_frm_box{
    flex: 1;
    margin: 0 auto 1.69rem auto;
}
.sr_frm_box form{
    display: flex;
    justify-content: flex-end;
}
.sr_frmipt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #aaa;
}
.sr_frmipt .ipt{
    flex: 1;
    min-width: 4rem;
    height: 1.76rem;
    box-sizing: border-box;
    padding: 0 .53rem;
    font-size: .8rem;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}
.sr_frmipt .ss_btn{
    width: 4rem;
    height: 1.76rem;
    line-height: 1.76rem;
    text-align: center;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: .8rem;
    background-color: #097BC4;
    color: #fff;
}
.ab-tit{
    display: flex;
    align-items: center;
    margin-bottom: 1.07rem;
    font-size: .53rem;
}
.ab-tit:before{
    content: "";
    display: block;
    width: 0.16rem;
    height: 0.85rem;
    background: linear-gradient(180deg, #5077FF 0%, #1A84C8 100%);
    border-radius: 0.11rem;
    margin-right: .2rem;
}
.no-result{
    color: #666;
    font-size: .53rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.jg{
    font-size: .42rem;
    color: #999;
    line-height: .85rem;
    margin-bottom: 1.07rem;
}

.srt-li{
    padding: .27rem 0;
    text-decoration: none;
    margin-bottom: .8rem;
    display: block;
    border-bottom: solid 1px #ccc;
}
.srt-l{
    font-size: .53rem;
    line-height: .85rem;
    margin-bottom: .27rem;
}
.srt-r{
    display: flex;
}
.srt-rl{
    font-size: .46rem;
    color: #999;
    line-height: .85rem;
}
.srt-rr{
    font-size: .46rem;
    color: #999;
    line-height: .85rem;
}

#pages { width: 100%; padding:.4rem 0 .27rem; margin: .27rem; display: flex; align-items: center;font-size: .53rem;flex-wrap: wrap}
#pages a { display:block; height: 1.76rem; line-height: 1.76rem; padding: 0 .66rem; background:#fff;
    border:1px solid #e3e3e3; text-decoration: none; color:#333;margin-right: .27rem;margin-left: .27rem;margin-bottom: .27rem}
#pages a.a1 { }
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none; }
#pages span { display:block; height: 1.76rem; line-height: 1.76rem; padding: 0 .66rem; background:#5a85b2; border:1px solid #5a85b2; color:#fff; text-align:center; margin-bottom: .27rem}
.page .noPage { display:inline-block; width:1.5rem; height:.56rem; line-height:.56rem; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }