.fb{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    background: url("../img/product_banner.png") no-repeat center center / 1920px 300px;
}
.fb-wrap{
    height: 100%;
    width: var(--main-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.fb-tit{
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
    line-height: 56px;
    letter-spacing: 1px;
}

.crumb-wrap{
    width: var(--main-width);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.crumb{
    position: sticky;
    background: #fff;
    top: 0;
    width: 240px;
    margin: 42px auto 56px 0;
}
.crumb-s{
    position: relative;
}
.crumb-select{
    height: 66px;
    line-height: 66px;
    font-size: 18px;
    border: solid 1px #ccc;
    padding: 0 46px;
    border-left-width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.crumb-select:after{
    content: '';
    display: block;
    width: 24px;
    height: 24px;
    margin-left: 8px;
    background: url("../img/p_down.png") no-repeat center center / 100% 100%;
    transition: all .5s ease;
}
.crumb-select.sel:after{
    transform: rotate(180deg);
}
.crumb-list{
    background: #fff;
    position: absolute;
    z-index: 2;
    top: 66px;
    min-width: 100%;
    border: solid 1px #ccc;
    border-top-width: 0;
}
.crumb-sli{
    height: 66px;
    line-height: 66px;
    padding: 0 46px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: #000;
}
.crumb-sli:hover{
    background-color: #eee;
    color: #097BC4;
}

.main{
    width: var(--main-width);
    margin: 0 auto;
}
.sr_frm_box{
    flex: 1;
    max-width: 700px;
    margin: 42px 0 56px auto;
}
.sr_frm_box form{
    display: flex;
    justify-content: flex-end;
}
.sr_frmipt{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 1px #aaa;
}
.sr_frmipt .ipt{
    flex: 1;
    min-width: 200px;
    height: 66px;
    box-sizing: border-box;
    padding: 0 20px;
    font-size: 24px;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}
.sr_frmipt .ss_btn{
    width: 160px;
    height: 66px;
    line-height: 66px;
    text-align: center;
    border: 0;
    box-shadow: none;
    border-radius: 0;
    font-size: 24px;
    background-color: #097BC4;
    color: #fff;
}
.ab-tit{
    display: flex;
    align-items: center;
    margin-bottom: 56px;
}
.ab-tit:before{
    content: "";
    display: block;
    width: 8px;
    height: 36px;
    background: linear-gradient(180deg, #5077FF 0%, #1A84C8 100%);
    border-radius: 4px;
    margin-right: 16px;
}
.no-result{
    color: #666;
    font-size: 22px;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 200px;
}
.jg{
    font-size: 18px;
    color: #999;
    line-height: 33px;
    margin-bottom: 46px;
}

.v-list{
    width: var(--main-width);
    margin: 0 auto;
}
.vli{
    border: solid 1px #ccc;
    margin-bottom: 42px;
}
.vli-tit{
    font-size: 24px;
    color: #097BC4;
    line-height: 33px;
    text-align: center;
    padding: 24px;
}
.vli-stit th{
    text-align: center;
    background: rgba(96, 131, 152, 0.15);
    font-size: 20px;
    line-height: 30px;
    font-style: normal;
    font-weight: 400;
    padding: 12px;
    color: #097BC4;
}
.v-table{
    width: 100%;
}
.v-thead{
    font-size: 16px;
    height: 64px;
    background: linear-gradient(180deg, #5077FF 0%, #1A84C8 100%);
    font-weight: 400;
    color: #FFFFFF;
}
.v-thead .v-td{
    height: 64px;
    width: 8.3%;
    line-height: 20px;
    vertical-align: middle;
    text-align: center;
    font-weight: normal;
}
.v-thead .v-td sub{
    font-size: .4em;
}
.v-tbody td{
    font-size: 16px;
    color: #666666;
    line-height: 20px;
    text-align: center;
    box-sizing: border-box;
    padding: 12px;
    vertical-align: middle;
}
.v-tbody:nth-child(odd){
    background: rgba(203,203,203,0.33);
}

.srt-li{
    padding: 10px 0;
    text-decoration: none;
    margin-bottom: 30px;
    display: block;
    border-bottom: solid 1px #ccc;
}
.srt-l{
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 10px;
}
.srt-r{
    display: flex;
}
.srt-rl{
    font-size: 18px;
    color: #999;
    line-height: 33px;
}
.srt-rr{
    font-size: 18px;
    color: #999;
    line-height: 33px;
}

/* pages */
#pages { padding:14px 0 10px; margin: 10px; display: flex; align-items: center;font-size: 20px;}
#pages a { display:block; height: 66px; line-height: 66px; padding: 0 26px; background:#fff;
    border:1px solid #e3e3e3; text-decoration: none; color:#333;margin-right: 10px;margin-left: 10px;}
#pages a.a1 { }
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none; }
#pages span { display:block; height: 66px; line-height: 66px; padding: 0 26px; background:#5a85b2; border:1px solid #5a85b2; color:#fff; text-align:center; }
.page .noPage { display:inline-block; width:56px; height:22px; line-height:22px; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }